
*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0;
}

header{
    background-color: #000000;
    padding: 1em;
    color: white;
    
    font-size: x-large;
    height: 3em;
}

.HelpCenterLink{
    margin-top: 10em;
    color: #fff;
    cursor: pointer;   
}

.HelpCenterLink:hover{
    text-decoration: underline;

}

.NavButton{
    display: flex;
    float: right;

    border-radius: 1em;
    height: 3em;
    
    cursor: pointer;  
    text-align: center;
    margin-right: 2em;
    font-size: inherit;

    padding: 1em;
    
    align-items: center;
}


.SubmitButton{
    background-color: #000000;
    border: 2px solid white;
    color: white;


}

.SignInButton:hover{
    background-color: white;
    color: #000000;

}

.SignInButton{
    background-color: #4C5FD5;
    color: white;

    box-shadow: none;
    
}


.HelpSection{
    background-color: #dadbf1;

    box-sizing: border-box;

    padding: 5em;
    text-align: center;
}


.HelpWriting{
    font-size: 3.5em;
    margin: 0;

    font-weight: 545;

}

.SearchDiv{
    width: 60%;
    height: 4em;

    margin: 4em auto;
    
    color: darkgrey;
    
    align-items:center;
    display: flex;

    border: 1px solid black;
    background-color: #fff;
}


.Search{
    height: 100%;
    background: none;
    border: none;
    width: 100%;
    font-size: 1.5em;

}


.Arrow{
    height: 100%;
    width: 5%;
    cursor: pointer;
    background-image: url(arrow.svg);
    margin-left: 2em;

    background-repeat: no-repeat; 
    background-position: center;

    border: none;
    background-color: inherit;
}


.Widgets{
    margin: 3em;
    display: grid;
    grid-template-columns:  30%  30%;
    gap: 2em;
    justify-content: center;
}

.Image{
    height: 5em;
    float: left;
    margin: 1em;
}

.ImageFields{
    display: flex;
}


footer{
    background-color: #000000;
    color: white;
    display: flex;
    
    height: 20em;
    position: relative;
}


.Left{
    display: grid;
    justify-content: right;
    width: 60%;
    grid-template-columns: 20% 20% 20% 20%;
}

.HeaderFotter{
    color: #fff;
    font-size: 1.5em;

}

.Link{
    color: white;
    text-decoration: none;
}

.Link:hover{
    text-decoration: underline;
}
.Link::after{
    color: white;
}

.ContactUs{
    font-weight: 600;
    font-size: 1.2em;
}


.RightDown{
    position: absolute;
    bottom: 4em; 
    right: 3em;
    width: 20%;
}


.GhostFooter{
    width: 3em;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Helper{
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.ButtonHelperPurple{
    background-color: #4C5FD5;
    color: white;
    border-radius: 5em;
    cursor: pointer;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;
    
}